


<section class="menu_diversos" id="lançamentos">
    <div class="conteiner_items">
      <div class="item_diversificado produto1" >
        <a href="playstation5" class="item_diversos textos_diversos">
          <img src="assets/img/Playstation5.jpg" alt="console sony Playstation5">
          <div>
            <h3>Console Sony PlayStation® 5</h3>
            <p>R$ 5.850,00<br><b>12 x 500,00</b></p>
          </div>
        </a>
      </div>
  
      <div class="item_diversificado produto2">
        <a href="#" class="item_diversos textos_diversos">
        <img src="assets/img/XboxOneS.jpg" alt="Console xbox modelo s branco">
        <div>
          <h3>Console Xbox S 500g SSD</h3>
          <p>R$ 3.500,00<br><b>12 x 333,00</b></p>
        </div>
      </a>
      </div>
  
      <div class="item_diversificado produto3">
        <a href="#" class="item_diversos textos_diversos">
          <img src="assets/img/ps4.jpg" alt="console Playstation4 slim">
        <div>
          <h3>Console Playstation 4 Slim 500Gb</h3>
          <p>R$ 2.999,00<br><b>12 x 249,00</b></p>
        </div>
      </a>
      </div>
  
      <div class="item_diversificado produto4">
        <a href="#" class="item_diversos textos_diversos">
          <img src="assets/img/XboxOneX.jpg" alt="pente de memória descktop ddr4">
        <div>
          <h3>Console Xbox Series X 1TB</h3>
          <p>R$ 4.349,00<br><b>12 x 362,00</b></p>
        </div>
      </a>
      </div>
  
      <div class="item_diversificado produto5">
        <a href="#" class="item_diversos textos_diversos">
        <img src="assets/img/NitendoSwith.jpg" alt="console nitendo switch">
        <div>
          <h3>Console Nitendo Switch</h3>
          <p>R$ 2.150,00<br><b>12 x 199,99</b></p>
        </div>
        </a>
      </div>
  
   <div class="item_diversificado produto6">
     <a href="#" class="item_diversos textos_diversos">
        <img src="assets/img/nitendoSwithLIte.jpg" alt="console nitendoSwith LIte">
        <div>
          <h3>Nintendo Switch Lite 32giga</h3>
          <p>R$ 1.661,00<br><b>12 x 152,00</b></p>
        </div>
    </a>
    </div>
  
      <div class="item_diversificado produto7" >
        <a href="playstation5" class="item_diversos textos_diversos">
          <img src="assets/img/Playstation5.jpg" alt="console sony">
        <div>
          <h3>Console  Sony  PlayStation® 5</h3>
          <p>R$ 5.850,00<br><b>12 x 500,00</b></p>
        </div>
      </a>
    </div>
  
    <div class="item_diversificado produto8">
        <a href="#" class="item_diversos textos_diversos">
          <img src="assets/img/XboxOneX.jpg" alt="pente de memória descktop ddr4">
        <div>
          <h3>Console Xbox Series X 1TB</h3>
          <p>R$ 4.349,00<br><b>12 x 362,00</b></p>
        </div>
      </a>
      </div>
      
    </div>
  </section>
