
<!-- inicio area de produto da loja  -->
<section id="produtos" class="container_produtos">
    <H1>LINHA DE PRODUTOS</H1>
    <div class="produto_item">
        <a href="#" class="item" style="background-image: url(assets/img/games.jpg);"><h3>games</h3></a>
        <a href="consoles" class="item" style="background-image: url(assets/img/console.jpg);"><h3>consoles</h3></a>
        <a href="#" class="item" style="background-image: url(assets/img/informatica.jpg);"><h3>informática</h3></a>
        <a href="#" class="item" style="background-image: url(assets/img/smartphones.jpg);"><h3>smartphones</h3></a>
    </div>
</section>

<!-- items a venda  -->
 <!-- Seçao de produtos diversos  -->

 <section class="menu_diversos" id="lançamentos">
     <h1>LANÇAMENTOS</h1>
  <div class="conteiner_items">
    <div class="item_diversificado produto1" >
      <a href="playstation5" class="item_diversos textos_diversos">
        <img src="assets/img/Playstation5.jpg" alt="console sony Playstation5">
        <div>
          <h3>Console Sony PlayStation® 5</h3>
          <p>R$ 5.850,00<br><b>12 x 500,00</b></p>
        </div>
      </a>
    </div>

    <div class="item_diversificado produto2">
      <a href="#" class="item_diversos textos_diversos">
      <img src="assets/img/XboxOneS.jpg" alt="Console xbox modelo s branco">
      <div>
        <h3>Console Xbox S 500g SSD</h3>
        <p>R$ 3.500,00<br><b>12 x 333,00</b></p>
      </div>
    </a>
    </div>

    <div class="item_diversificado produto3">
      <a href="#" class="item_diversos textos_diversos">
        <img src="assets/img/MulherOculosVR.jpg" alt="garota usando oculos de realidade virtual">
      <div>
        <h3>Oculos Virtual R. Quest!</h3>
        <p>R$ 750,00<br><b>6 x 132,00</b></p>
      </div>
    </a>
    </div>

    <div class="item_diversificado produto4">
      <a href="#" class="item_diversos textos_diversos">
        <img src="assets/img/MemoriaRm.jpg" alt="pente de memória descktop ddr4">
      <div>
        <h3>HyperxFury DDR4 8G 2666</h3>
        <p>R$ 280,00<br><b>3 x 100,00</b></p>
      </div>
    </a>
    </div>

    <div class="item_diversificado produto5">
      <a href="#" class="item_diversos textos_diversos">
      <img src="assets/img/NitendoSwith.jpg" alt="console nitendo switch">
      <div>
        <h3>Console Nitendo Switch</h3>
        <p>R$ 2.150,00<br><b>12 x 199,99</b></p>
      </div>
      </a>
    </div>

 <div class="item_diversificado produto6">
   <a href="#" class="item_diversos textos_diversos">
      <img src="assets/img/MulherOculosVR.jpg" alt="garota usando oculos de realidade virtual">
      <div>
        <h3>Oculos Virtual R. Quest!</h3>
        <p>R$ 750,00<br><b>6 x 132,00</b></p>
      </div>
    </a>
  </div>

    <div class="item_diversificado produto7" >
      <a href="playstation5" class="item_diversos textos_diversos">
        <img src="assets/img/Playstation5.jpg" alt="console sony">
      <div>
        <h3>Console  Sony  PlayStation® 5</h3>
        <p>R$ 5.850,00<br><b>12 x 500,00</b></p>
      </div>
    </a>
  </div>

    <div class="item_diversificado produto8">
      <a href="#" class="item_diversos textos_diversos">
      <img src="assets/img/NitendoSwith.jpg" alt="console nitendo switch">
      <div>
        <h3>Console Nitendo Switch</h3>
        <p>R$ 2.150,00<br><b>12 x 199,99</b></p>
      </div>
      </a>
    </div>
    
  </div>
</section>

<!-- fim da seçao produtos diversos -->
