@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&family=Roboto&display=swap');

/* fontes usadas: 
font-family: 'Audiowide', cursive; 
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}


/* inicio area de produtos loja  */
.container_produtos {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1f;
}
.container_produtos H1 {
    height: 10%;
    margin-top: 2%;
    font-family: 'Audiowide', cursive;
    font-size: 300%;
    color: white;
}

.produto_item {
    margin-top: 3%;
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    
}

.item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    border: whitesmoke solid 3px;
}

.container_produtos a h3{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    color: white;
}

/* Seção Produtos Diversos */

.menu_diversos {
	width: 90%;
  margin: auto;
	padding: 40px 0;
  height: 800px;
}


.conteiner_items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
} 

.item_diversos {
	display: flex;
    flex-direction: column;
    justify-content: center;
	overflow: hidden;
	background-size: cover;
}

.item_diversificado { display: grid; }

.item_diversos img { border-radius: 10px;}


.textos_diversos  {
    text-decoration: none;
    text-align: center;
    color: black;
}


@media (max-width: 1100px) {
    .produto_item { gap: 50px;}
    .cabecalho_rodape { display: flex; flex-direction: column; align-items: center; justify-content: space-around;}
    .siga { justify-content: center;}
    .siga p {display: none;}
    .menu_diversos { height: 700px;}
    footer {height: 400px;}
    .cabecalho_rodape {display: flex; flex-direction: column;}
    .nav_footer {display: flex; align-items: center; justify-content: space-evenly; }
    .siga {justify-content: center;}
    .siga p {display: none;}
    .siga a img {width: 50%;}
    .rodape a img {width: 50%}
    .endereco {display: flex; flex-direction: column; height: 90%;}
    .rodape div img {width: 80%;}
}

@media (max-width: 1000px) {

  header  {
    height: 90px;
    display: flex;
    align-items: center;
  }

  .tipbar { height: 25px; }

  .container_head { height: 74px; }

  .container_logo a img { width: 40%;}
  

    .container_head H1 { font-size: 30px; }
    .container_icones { display: none;}
    
    .banner_1 {display: block;}

    #container_navegador {
      display: block;
      z-index: 1000;
      align-items: flex-end;
      /* background-color: blue; */
    }

    .navbar-light .navbar-toggler-icon{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
     }

    .barra_navegacao{ display: none;}
    
}


@media (max-width: 900px) {
	.busca {width: 250px;}
    .produto_item { gap: 40px;}
    #game_mania {width: 100%; height: 800px;}
    .container_social h3{font-size: 150%;}
    .container_social p {font-size: 100%}
    .container_redes { width: 80%; }
    .container_redes a {font-size: 100%;}
    .container_usuarios {height: 500px; width: 100%;}
    .menu_diversos { height: 600px;}
    .ranking h3{font-size: 100%; }
    .ranking p{font-size: 80%; }
    .ranking a h3 {font-size: 100%;}
    footer {width: 100%; height: 700px;}
    .cabecalho_rodape {height: 500px; margin-top: 30px; display: flex;}
    #emailid {width: 280px; height: 25px;}
    .rodape { display: flex; flex-direction: column; justify-content: space-around; align-items: center;}
   

}

@media screen and (max-width: 700px) {
  .container_logo a img { width: 60%;}
    .carousel-item img { width: 100%; height: 400px;}
    .banner_1 {width: 100%;}
    .banner_2 {display: none;}
    .carousel-caption button {display: block;}
    .produto_item { height: 500px; gap: 20px;}
    .conteiner_items { height: 500px;}
    .item_diversificado h3 {font-size: 100%;}
    .item_diversificado p {font-size: 100%;}
    .nav_footer { flex-direction: column;}
    #game_mania { height: 350px; justify-content: space-between;}
    .container_clube img { display: none;}
    .container_redes {flex-direction: column;}
    .container_usuarios {display: none;}
    .container_social { width: 100%;}

   
 

}

@media screen and (max-width: 600px) {
    .carousel-inner {display: none;}
    .menu_diversos {width: 100%; height: 500px;}
    .produto_item { display: flex; flex-direction: column; align-items: center; gap: 40px;}
    .container_produtos { height: 550px;}
    .item {width: 90%; height: 100%; display: flex;}
    .menu_diversos {width: 90%; height: 260px; display: flex;}
    .conteiner_items{height: 200px; display: flex; align-items: flex-start; justify-content: center;}
    .produto3{ display: none;}
    .produto4{ display: none;}
    .produto5{ display: none;}
    .produto6{ display: none;}
    .produto7{ display: none;}
    .produto8{ display: none;}
    #game_mania {width: 100%; height: 350px;}
    #game_mania h2 {font-size: 200%;}
    .container_clube{ max-width: 90%; flex-direction: column; justify-content: flex-end;}
    .container_clube img { display: none;}
    .container_redes {flex-direction: column;}
    .container_usuarios {display: none;}
    footer {width: 100%; height: 700px;}
   .cabecalho_rodape {height: 500px; margin-top: 30px; display: flex;}
    #emailid {width: 280px; height: 25px;}
    .rodape { display: flex; flex-direction: column; justify-content: space-around; align-items: center;}

   
}

@media (max-width: 480px) {
  .container_logo a img { width: 100%;}
  .container_head H1 { font-size: 20px; }
  #game_mania { height: 250px;}
}