 <!-- slide com condiçoes de pagamento e frete  -->
<header>
<div class="tipbar">
  <div class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>frete grátis acima de R$299,99</p>
       </div>
       <div class="carousel-item">
        <p>parcelamos em até 12x</p>
       </div>     
    </div>
  </div>
</div>

<!-- fim do slide  -->
<div class="container_head">
  <span class="container_logo"><a href="index.html"><img src="assets/img/LogoGameMania.svg" alt="logo do site game mania"></a></span>
  <h1>GAME MANIA</h1>

  <div id="container_navegador">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GAME MANIA</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><img src="assets/img//LOgin.svg" alt="area de login do cliente"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="assets/img//FaleConosco.svg" alt="cental de atendimento ao cliente"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="assets/img//CarrinhoCompra.svg" alt="sacola de compras"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MENU
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="produtos.html#lançamentos">lançamentos</a></li>
                  <li><a class="dropdown-item" href="produtos.html">produtos</a></li>
                  <!-- <li> -->
                  <li><a class="dropdown-item" href="#">games</a></li>
                  <!-- <li> -->
                  <li><a class="dropdown-item" href="#game_mania">#game_mania</a></li>
                  <li>
                  <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">SUPORTE</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Procure agora!" aria-label="Search">
              <button class="btn btn-dark" type="submit">Procurar</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  
  </div>




  <nav class="container_icones">
    <a href="#"><img src="assets/img//LOgin.svg" alt="area de login do cliente"></a>
    <a href="#"><img src="assets/img//FaleConosco.svg" alt="cental de atendimento ao cliente"></a>
    <a href="#"><img src="assets/img//CarrinhoCompra.svg" alt="sacola de compras"></a>
  </nav>
</div>


<!-- barra de navegação nav bar  -->
<div class="barra_navegacao">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand " href="produtos.html#lançamentos">lançamentos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="produtos.html">produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#game_mania">#game_mania</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              suporte
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">fale conosco</a></li>
              <li><a class="dropdown-item" href="#">reclamações</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">nossa loja</a></li>
            </ul>
          </li>
        </ul>
<!-- campo pesquisar do site  -->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
          <button class="btn btn-dark btn-sm" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</div>



</header>