@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&family=Roboto&display=swap');

/* fontes usadas: 
font-family: 'Audiowide', cursive; 
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

.banner {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    height: 92%;
    width: 95% !important;
    display: flex;
    border-radius: 10px;
}

.carousel-item img{filter: brightness(82%)}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  height: 100%;
  display: flex;
}

.carousel-caption { display: block !important;}

/* texto do carousel  */
.carousel-caption h5{font-family: 'Audiowide', cursive; font-size: 200%; }

.carousel-caption p {font-family: 'Roboto', sans-serif; font-size: 200%;}

.carousel-caption button { font-size: large;}


/* inicio area de produtos loja  */
.container_produtos {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_produtos H1 {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: flex-end;
  font-size: 200%;
  text-transform: uppercase;
  font-family: "Helvetica Neue", sans-serif;


}

.produto_item {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    
}

.item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

.container_produtos a h3{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
    font-size: 400%;
}


/* Seção lançamentos */

.menu_diversos {
  width: 90%;
  margin: auto;
	padding: 40px 0;
  height: 800px;
}

.menu_diversos h1 { font-family: "Helvetica Neue", sans-serif;}


.conteiner_items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
} 

.item_diversos {
  display: flex;
  flex-direction: column;
  justify-content: center;
	overflow: hidden;
	background-size: cover;
}

.item_diversificado { display: grid; }

.item_diversos img { border-radius: 10px;}


.textos_diversos  {
    text-decoration: none;
    text-align: center;
    color: black;
}
.textos_diversos h3 { font-size: 150%;}

.textos_diversos p { font-size: 150%;}
/* area de redes sociais  */

#game_mania {
    width: 100%;
    max-height: 1200px;
    margin-top: 5%;
    background-color: #1d1d1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#game_mania h2{
    margin-top: 3%;
    font-size: 260%;
    font-family: 'Audiowide', cursive;

}

.container_clube{
    margin-top: 5%;
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container_clube img{
    width: 50%;
    border-radius: 10px;
}
.container_social {
    width: 45%;
    height: 286px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.container_social p {
    font-size: 120%;
}

.container_redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_redes a { text-decoration: none;}

.container_redes p {
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 200%;
}

.container_social img {
    border-radius: 10px;
    width: 55%;
    height: 80%;
}

.container_usuarios {
    margin-top: 5%;
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ranking {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.ranking h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
.ranking p {
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
}
.ranking a {text-decoration: none;}

.ranking a h3 { 
  color: white;
  font-family: 'Audiowide', cursive;
}

.usuarios {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.usuarios img {
    border-radius: 10px;
    width: 90%;
    height: 90%;
}
/* fim da area redes sociais  */





@media (max-width: 1200px){.produto_item a h3{font-size: 350%;}}

@media (max-width: 1000px) {
    .produto_item { gap: 30px;}
    .produto_item a h3{font-size: 280%;}
}


@media (max-width: 900px) {
    .banner { height: 400px;}
    .carousel-caption h5 {font-size: 150%;}
    .carousel-caption p {font-size: 150%;}
    .produto_item a h3{font-size: 250%;}
    .conteiner_items { column-gap: 20px; row-gap: 40px;}

	  .busca {width: 250px;}
    
    #game_mania {width: 100%; height: 800px;}
    .container_social h3{font-size: 150%;}
    .container_social p {font-size: 100%}
    .container_redes { width: 80%; }
    .container_redes a {font-size: 100%;}
    .container_usuarios {height: 500px; width: 100%;}
    .menu_diversos { height: 600px;}
    .ranking h3{font-size: 100%; }
    .ranking p{font-size: 80%; }
    .ranking a h3 {font-size: 100%;}
}


@media screen and (max-width: 700px) {
    .banner { height: 300px;}
    .carousel-caption h5 {font-size: 100%;}
    .carousel-caption p {font-size: 10;}

    .carousel-caption button {display: block;}
    .produto_item { height: 500px; gap: 20px;}
    .produto_item a h3{font-size: 200%;}
    .conteiner_items { height: 500px; column-gap: 15px; row-gap: 30px;}
    /* .textos_diversos h3 { font-size: 120%;}
    .textos_diversos p { font-size: 150%;} */
    .item_diversificado h3 {font-size: 120%;}
    .item_diversificado p {font-size: 120%;}
    .nav_footer { flex-direction: column;}
    #game_mania { height: 350px; justify-content: space-between;}
    .container_clube img { display: none;}
    .container_redes {flex-direction: column;}
    .container_usuarios {display: none;}
    .container_social { width: 100%;}


}

@media screen and (max-width: 600px) {
    .menu_diversos {width: 100%; height: 500px;}
    .produto_item { display: flex; flex-direction: column; align-items: center; gap: 40px;}
    .produto_item a h3{font-size: 200%;}
    .container_produtos { height: 550px;}
    .item {width: 90%; height: 100%; display: flex;}
    .menu_diversos {width: 90%; height: 350px; display: flex; flex-direction: column;}
    .conteiner_items{height: 200px; display: flex; align-items: flex-start; justify-content: center;}
    .produto3{ display: none;}
    .produto4{ display: none;}
    .produto5{ display: none;}
    .produto6{ display: none;}
    .produto7{ display: none;}
    .produto8{ display: none;}
    #game_mania {width: 100%; height: 350px;}
    #game_mania h2 {font-size: 200%;}
    .container_clube{ max-width: 90%; flex-direction: column; justify-content: flex-end;}
    .container_clube img { display: none;}
    .container_redes {flex-direction: column;}
    .container_usuarios {display: none;}
   
}

@media (max-width: 480px) {
    .produto_item a h3{font-size: 180%;}
  .container_logo a img { width: 100%;}
  .container_head H1 { font-size: 20px; }
  #game_mania { height: 250px;}
}