<mat-card-content>
    <form  #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label for="email" >Email</mat-label>
            <input matInput type="email" name="email" id="email" placeholder="Email" [(ngModel)]="loginModel.email" required>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="senha" >Senha</mat-label>
            <input matInput type="password" name="password" id="senha" placeholder="Senha" [(ngModel)]="loginModel.password" required>
            <mat-error>Senha necessária</mat-error>
         
            <mat-error>A senha dever minimo 6 caracteres</mat-error>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-checkbox>lembre-se de mim neste dispositivo</mat-checkbox>
        <button mat-raised-button type="submit" color="primary" class="login-button">Entrar</button>
        <mat-error *ngIf="mensagem != '' ">{{mensagem}}</mat-error>
    </form>
    <button mat-raised-button>Login com Google</button>
    <button mat-raised-button color="primary">Login com Facebook</button>
</mat-card-content>
