<footer>

    <!-- Area cadastro do email usuario  -->
      <section class="cabecalho_rodape">
        <div class="container_email">
          <p>assine nossa newsletter <br> fique por dentro das novidades e lançamentos</p>
          <form action="">
            <input id="emailid" type="email" placeholder="  Seu e-mail" required>
            <button mat-raised-button onclick="enviarEmail()">Cadastrar</button>
            <!-- <button class="btn btn-light btn-sm enviar" onclick="enviarEmail()">Enviar</button> -->
            <p>cadastre-se</p>
          </form>
  
        </div>
  
        
        <div> 
          <nav class="siga">
              <p>siga a gente: </p>
              <a href="#"><img src="assets/img/facebook.png" alt="icone facebook para login"></a>
              <a href="#"><img src="assets/img/Instagram.jpg" alt="icone do instagram para login"></a>
            </nav>
    
          </div>
  
        <div class="container_contatenos">
          <nav class="nav_footer">
            <a class="item2" href="#"><p>meus produtos</p></a>
            <a class="item1" href="#"><p>dúvidas</p></a>
            <a class="item2" href="#"><p>trocas e devuloções</p></a>
            <a class="item1" href="#"><p>quem somos</p></a>
          </nav>
        </div>
  
  
      </section>
  
      <div class="rodape">
        <a href="#"><img src="assets/img/LogoGameMania.svg" alt="logo site game mania"></a>
        <section class="endereco"> 
          <h4>FaleConosco:</h4>
          <p>(11) 3000-0001 <br>game@gamemania.com.br</p>
          <p><b>GAME MANIA</b>| São paulo | CNPJ 01.234.567/0001-89 |</p>
        </section>
        <div>
          <img src="assets/img/bandeirasCartoes.png" alt="imagem com formas de pagamento e bandeiras de cartões de crédito">
        </div>
      </div>
  
  
    </footer>
