

<section class="container_venda">
    <h1 class="titulo">Console PlayStation®5 </h1>
    <div class="contenedor">
      <div class="carousel_compra">
        <div class="contenedor_corousel">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/PS5Controle (1).jpg" class="d-block w-100" alt="console Playstation 5">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/PS5Controle (2).jpg" class="d-block w-100" alt="console playstation 5 sobre uma mesa">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/Playstation5.jpg" class="d-block w-100" alt="joystick do playstation 5">
                </div>
              </div>
            </div>
        </div>
        <div class="textos_compra">
          <p>R$ 5.850,00<br><b>12 x 500,00</b></p>
          <button type="button" class="compre_ja btn btn-light btn-lg">Adicionar no carrinho!</button>
        </div>
    
      </div>
        

        <div class="descricao_produto">
          <img class="mmm" src="assets/img/Playstation5.jpg" alt="foto PlayStation 5">
            <ul class="descricao">
                <li>Domine o poder de uma CPU e GPU personalizadas e o SSD com E/S integradas que redefinem as regras do que o console PlayStation pode fazer </li>
                <li>SSD ultrarrápido: Maximize suas sessões de jogo com tempos de carregamento praticamente instantâneos para jogos do PS5 instalados. </li>
                <li>E/S integrada: A integração personalizada dos sistemas de console PS5 permite que os criadores extraiam dados do SSD tão rápido que eles podem desenvolver jogos de formas que antes seriam impossíveis. </li>
                <li>Maravilhe-se com os gráficos incríveis e experimente os recursos do novo PS5 </li>
                <li>Versão com leitor de BluRay </li>
            </ul>
        </div>
    </div>
</section>