
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label="Login" >
        <mat-card-content>
            <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha">
                    <mat-error>Senha necessária</mat-error>
                 
                    <mat-error>A senha dever minimo 6 caracteres</mat-error>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>lembre-se de mim neste dispositivo</mat-checkbox>
                <button mat-raised-button color="primary" class="login-button">Entrar</button>
            </form>
            <button mat-raised-button class="login-button">Login com Google</button>
            <button mat-raised-button class="login-button" color="primary">Login com Facebook</button>
        </mat-card-content>
    </mat-tab>
    <mat-tab label="Cadastre-se">
        <mat-card-content>
            <form action="">
                <mat-form-field>
                    <input matInput placeholder="Seu Nome">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error>Nome inválido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email">
                    <mat-error>Email é necessário</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha">
                    <mat-error>A Senha é necessária</mat-error>
                    <mat-error>A senha dever minimo 6 caracteres</mat-error>
                    <mat-icon matSuffix>lock</mat-icon>

                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirme senha" type="password">
                    <mat-error>Confirmação de senha necessário</mat-error>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" class="login-button">Cadastrar</button>
            </form>
        </mat-card-content>
    </mat-tab>
</mat-tab-group>