@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&family=Roboto&display=swap');

/* fontes usadas: 
font-family: 'Audiowide', cursive; 
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; */
